<!DOCTYPE html>
<html>

<head>

  <link href="site.css" rel="stylesheet">
</head>

<body1>

<div id="main1">
  <p1b><center> Edit Inspiration</center></p1b>
  <center>
   <%= simple_form_for @post do |f| %>

   <div><p> <%= f.input :title, required: false ,placeholder: "Title", label: false%></p></div>
   <div><p> <%= f.input :link, required: false ,placeholder: "Link", label: false%></p></div>
   <div><p> <%= f.input :description, required: false ,placeholder: "Description", label: false%></p></div>

</div>
<div>
  <center><%= f.button :submit, "Update" %></center>
  </div>

<% end %>


  </center>
</body1>
</html>